.App {
  text-align: justify;
  justify-content: space-between;
  gap:1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  align-items: end;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0055ff;
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
